PORT=3308

JWT_SECRET="e40bfee55a03ffe69a2a3ecb930df395"

# === URLs inter-servicio ===
USER_SERVICE_URL="http://localhost:3310"
ACADEMICO_SERVICE_URL="http://localhost:3307"

# === EMAIL VARIABLES ===
EMAIL_USER="gestion.escolar.tec2@gmail.com"
EMAIL_PASS="cazt llea luwl eoui"
