# === Puerto del servicio ===
PORT=3305

# === Base de datos ===
DATABASE_URL="mysql://root:root_pass@localhost:3306/gestion_tecnica2"

# === JWT ===
JWT_SECRET="tu-jwt-secret"

# === Entorno ===
NODE_ENV=development
