# === Puerto del servicio ===
PORT=3307

# === Base de datos ===
DATABASE_URL="mysql://root:root_pass@localhost:3306/gestion_tecnica2"

# === URLs inter-servicio ===
USUARIOS_SERVICE_URL="http://localhost:3310"

# === EMAIL (Nodemailer) ===
EMAIL_USER="tu-email@gmail.com"
EMAIL_PASS="tu-app-password"
