#CAMBIAR PASSWORDS AL USAR DOCKER-COMPOSE
DATABASE_URL= "mysql://root:root_pass@mysql-db:3306/gestion_tecnica2"
DATABASE_USER="root"
DATABASE_PASSWORD="root_pass"
DATABASE_NAME="gestion_tecnica2"
DATABASE_HOST="localhost"
DATABASE_PORT=3306